name: trufflehog

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  scan:
    name: trufflehog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --only-verified
